/**
* Custom CSS 
*/
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  max-width: 100%;
  background-color: #1f493f;
}

.banner {
  padding-top: 200px;
  background-color: gray;
  background:
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.6)),
    url("/images/banner-superbowl.webp") no-repeat center center;
  background-size: cover;
}

.match-item-link {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.table-rounded {
  border-radius: 0.5rem;
  overflow: hidden;
  tbody,
  thead {
    border: none;
    tr th,
    tr td {
      padding: 10px 15px;
    }
    & tr:last-child {
      border-bottom: none;
      & td {
        border-bottom: none;
      }
    }
  }
}

// Responsive sur Mobile
@media (max-width: 768px) {
  .header-fixed {
    padding: 0 15px;
  }
  .banner {
    padding-top: 100px;
  }
}
