// Import Bootstrap and custom styles

// Toggle global options
// $enable-gradients: true;
$enable-shadows: true;
// $offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Include functions first
@import "../node_modules/bootstrap/scss/functions";

//
// Colors
//
$primary: #7a7443;
$secondary: #1c3934;
$success: #bae139;
$danger: #b9314f;
$warning: #d5a18e;
$info: #4dccbd;
$light: #f8f9fa;
$dark: #475460;
$body-bg: #1b473c;
// Others
$border-radius: 0.5rem;
// Navigation
$nav-link-font-size: 1.1rem;

//
// Import des modules Bootstrap
//
@import "_bootstrap-modules";

//
// Custom styles
//
.nav-underline {
  --bs-emphasis-color: #fff;
}
.nav-underline .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
.nav-underline .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
.nav-underline .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--primary);
  border-color: var(--primary);
}
tbody {
  // Pour l'affichage des erreurs de formulaires (invalid-tooltip) au bon endroit
  position: relative;
}
.invalid-tooltip {
  top: -30px !important;
  right: 0 !important;
}

//
// My Custom styles
//
@import "_custom";
